// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";


// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
  background-image: url(../img/pirate-ship.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Lobster', cursive;
  
  
  h1,p {
    color: white;
  }
}

.navbar {
  a:hover{
    text-decoration: underline;
  }
    .active {
      font-weight: bold;}
}

.container {
  h1 { 
    font-family: 'Lobster', cursive;
  }
}

p {
  font-family: 'Lobster', cursive;
}

h3 {
  font-family: 'Lobster', cursive;
}



// Import partials here
@import "footer"